.sidebarContainerd {
  width: 20%;
  float: left;
}
.sidebarContainerClosed {
  width: 0;
  display: none;
  transition: width 2s;
}
.dashboard-body {
  overflow-x: hidden;
}
.headerAndBodyContainerd {
  width: 80%;
  float: left;
}

.headerAndBodyContainerClosed {
  width: 100%;
}
.bodyViewScrolld {
  overflow-y: scroll;
  height: 90vh;
  background-color: #060c18;
}
.infoContainerd {
  display: flex;
  flex-wrap: wrap;
}
.infoBoxd {
  width: 300px;
  height: 200px;
  margin: 0 30px 0 0;
}
.headerAndBodyContainerClosed {
  width: 100%;
}
.bodyViewScrolld {
  overflow-y: scroll;
  height: 90vh;
  background-color: #f7f8fa;
}
.headerAndBodyContainerd {
  width: 80%;
  float: left;
}
