.hr-line-design-stock{
    border-bottom: 1px solid #374767;
}
/* .stock-report-btn{
    width: 100%;
    background-color: #B2DFDB;
    color: black;
}
.stock-report-btn-1
{
    width: 100%;
} */
/* @media only screen and (max-width: 727px) {
    .stock-report-btn{
        width: 100%;
    }
  } */