.sidebarContainer {
  float: left;
  width: 22%;
  /* color: blue; */
}
body {
  overflow-x: hidden;
}
.form-control:focus {
  box-shadow: none;
}
.sidebarContainerClose {
  width: 0;
}
.headerAndBodyContainer {
  color: crimson;
}
.headerAndBodyContainerClose {
  margin-left: 270px;
  /* color: gold; */
  transition: all 700ms;
}
.form-control:focus {
  box-shadow: none !important;
}
.custom-select:focus {
  box-shadow: none !important;
}
.btn:focus {
  box-shadow: none !important;
}
#example2 {
  box-shadow: 0 8px 8px -8px gray;
}
